#h1{
    margin:auto;
    background-color: blue;
    text-align: center;
}
.your-message{
    float: right;
    background-color: white;
    clear: both;
    width: 24%;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.others-message{
    float:left;
    background-color: grey;
    clear:both;
    width: 24%;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    border-radius: 10px;
}
.container{
    /* margin:auto;
    height:80vh;
    background-color: yellow;
    padding:23px;
    overflow-y: auto; */
    /* margin-bottom:13px; */
    /* display:inline-flex; */
    margin: 8px;
    height: 35vh;
    background-color: yellow;
    padding: 133px;
    overflow-y: auto;
    width: 75vh;
    float: right;
}
.send{
    display:block;
    margin:auto;
    width:92%;
    text-align:center;
}
#inpsend{
    width: 92%;
    margin: 10px;
    padding: 5px;
}